# Terraform
.terraform/
*.tfstate
*.tfstate.backup

*.tfvars.json

# Credentials
auth.json
*.json

# Python / Docker
__pycache__/
.env
!environments/dev/terraform.tfvars
!environments/host/terraform.tfvars